silent_therapy/__pycache__/*
backend/__pycache__/*
*/__pycache__/*

api_key.py
__pycache__/api_key.cpython-312.pyc
*/migrations/*

.venv/*
__pycache__/api_key.cpython-310.pyc
db.sqlite3
*/media/*
media/*
!media/.gitkeep

# Static files
static/*
!static/.gitkeep
